requests==2.24.0
rpmfile==1.0.8
paramiko==2.10.1
backports.lzma==0.0.14
MySQL-python==1.2.5
ruamel.yaml.clib==0.2.2
ruamel.yaml==0.16.13
subprocess32==3.5.4
prettytable==1.0.1
enum34==1.1.6
progressbar==2.5
halo==0.0.30
pycryptodome==3.10.1
inspect2==0.1.2
six==1.16.0
pyinstaller==3.6
bcrypt==3.1.7
zstandard==0.14.1
